*{
  font-family:nunito;
  padding:0;
  margin:0;

}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.carousel-caption {
  bottom: 270px;
}

.carousel-caption h2 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  color: #000;
  font-weight: bolder;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  color:#000;
}


/*****************************************cards***************************/


.container-fluid,
.container-cards {
    /* max-width: 1600px; */
    padding: 50px 0;
    
}

/* .card-container {
    padding: 300px 0px;
    -webkit-perspective: 1000;
    perspective: 1000;
    background-color: #F1B814;
} */
.profile-card-4 {
    max-width: 400px;
    height:50vh;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    /* cursor: pointer; */
}

.profile-card-4 img {
    transition: all 0.25s linear;
}

.profile-card-4 .profile-content {
    position: relative;
    padding: 15px;
    background-color: #FFF;
}

.profile-card-4 .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -70px;
    color: #FFF;
    text-shadow: 3px;
    font-size: 17px;
}

.profile-card-4 .profile-name p {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.profile-card-4 .profile-description {
    color: #777;
    font-size: 12px;
    padding: 10px;
}
.btn-ultra-voilet {
    background: #654ea3;  
    background: -webkit-linear-gradient(to right, #490B3D, #F1B814); 
    background: linear-gradient(to right, #b78c33, #654ea3); 
    color: #fff;
    border: 3px solid #eee;
    width:100%;
    border-radius: 20PX;
}

.profile-card-4 .profile-overview {
    padding: 15px 0px;
}

.profile-card-4 .profile-overview p {
    font-size: 10px;
    font-weight: 600;
    color: #777;
}

.profile-card-4 .profile-overview h4 {
    color: #273751;
    font-weight: bold;
}

.profile-card-4 .profile-content::before {
    content: "";
    position: absolute;
    height: 20px;
    top: -10px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
    z-index: 0;
    transform: skewY(3deg);
}

.profile-card-4:hover img {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
}





/*****************************************/
footer.nb-footer {
background: #490B3D;
border-top: 4px solid #F1B814;
 }


footer.nb-footer .about {
margin: 0 auto;
margin-top: 40px;
max-width: 1170px;
text-align: center; 
}


footer.nb-footer .about p {
font-size: 13px;
color: rgb(255, 253, 253);
margin-top: 30px; 
}


footer.nb-footer .about .social-media {
margin-top: 15px; 
}

footer.nb-footer .about .social-media ul li a {
display:inline-block;
width: 45px;
height: 45px;
line-height: 45px;
border-radius: 50%;
font-size: 16px;
color: #b78c33;
border: 1px solid rgba(255, 255, 255, 0.3); 
}


footer.nb-footer .about .social-media ul li a:hover {
background: #F1B814;
color: #fff;
border-color: #F1B814; 
}


footer.nb-footer .footer-info-single {
margin-top: 30px; 
}


footer.nb-footer .footer-info-single .title {
color: rgb(255, 253, 253);
text-transform: uppercase;
font-size: 16px;
border-left: 4px solid #F1B814;
padding-left: 5px; 
}


footer.nb-footer .footer-info-single ul li a {
display: block;
color: rgb(255, 255, 255);
padding: 2px 0; 
}


footer.nb-footer .footer-info-single ul li a:hover {
color: #F1B814; 
}

footer.nb-footer .footer-info-single p {
font-size: 13px;
line-height: 20px;
color: rgb(255, 255, 255); 
}


footer.nb-footer .copyright {
margin-top: 15px;
background: rgb(0, 0, 0);
padding: 7px 0;
color: rgb(255, 255, 255); 
}


footer.nb-footer .copyright p {
margin: 0;
padding: 0; 
}

/****************************About us****************************/

.about-section{
    background: url(../img/white-towel-bed-decoration-bedroom-interior.jpg) no-repeat left;
    background-size: 55%;
    background-color: #BD1E51;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}


@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

/*****************************/

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #490B3D;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #490B3D;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #490B3D;
}


/* Change navbar styling on scroll */
.navbar.active {
    background:#BD1E51;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
/* .navbar.active .btn{
    background-color:#F1B814;
    color:#000; 
}  */

.navbar.active .nav-link {
    color:#fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #490B3D;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #490B3D;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}
/**************************/