html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-space {
  justify-content: space-between;
}

.col-2 {
  width: calc((100% - 30px) / 2);
}

button {
  outline: none;
  background: none;
  border: none;
}

.page-wrapper {
  min-height: 100vh;
}

/* ===============#BACKGROUND================ */
.bg-gra-02 {
  background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
}

/* ============ #SPACING ============ */
.p-t-130 {
  padding-top: 130px;
}

.p-t-15 {
  padding-top: 15px;
}

/* ================#WRAPPER================= */
.wrapper {
  margin: 0 auto;
}

.wrapper--w680 {
  max-width: 680px;
}

/* ================#BUTTON============= */
.btn {
  display: inline-block;
  line-height: 50px;
  padding: 0 50px;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-family: "Poppins";
}

.btn--radius-2 {
  border-radius: 5px;
}

.btn--blue {
  background: #4272d7;
}

.btn--blue:hover {
  background: #3868cd;
}

/* =========================#FORM==================== */
input {
  outline: none;
  margin: 0;
  border: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.input--style-4 {
  line-height: 50px;
  background: #fafafa;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  transition: all 0.4s ease;
}

.label {
  font-size: 16px;
  color: #555;
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
}

.input-group {
  position: relative;
  margin-bottom: 22px;
}

/*TITLE*/
.title {
  font-size: 24px;
  color: #525252;
  font-weight: 400;
  margin-bottom: 40px;
}

/*CARD*/
.card {
  border-radius: 3px;
  background: #fff;
}

.card-4 {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-4 .card-body {
  padding: 57px 65px;
  padding-bottom: 65px;
}

@media (max-width: 767px) {
  .card-4 .card-body {
    padding: 50px 40px;
  }
  .col-2 {
    width: 100%;
  }
}
